.container-1 {
    height: 400px;
    width: 400px;
    position: relative;
    margin: 20px;
    background-color: black;

}

.box1 {
    height: 100px;
    width: 400px;
    position: absolute;
    bottom: 0;
    background-color:rgb(23, 20, 178);


}

.box2 {
    height: 300px;
    width: 200px;
    position: relative;
    background-color: rgb(215, 13, 13);

}

.box3 {
    height: 300px;
    width: 200px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgb(50, 167, 206);
}

.item-1 {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(180, 1, 245);

}

.container-2 {
    display: flex;

}


.container-3 {
    height: 250px;
    width: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

}

.item-2 {
    height: 75px;
    width: 75px;
    background-color: orangered;
    
}